body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

p {
  margin-bottom: 1em;
}

.image {
  display: block;
  float: left;
  width: 235px;
  height: auto;
  margin: 233px 0 0 22%;
  overflow: hidden;
}

.text {
  float: left;
  clear: both;
  margin: 47px 0 0 22%;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.text a {
  color: #eb0142;
}