@font-face {
  font-family: 'ApercuPro';
  src: url('apercu_regular_pro.woff') format('woff');
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 58px;
    height: 58px;
    background-color: rgb(253, 254, 255);
}

#content {
    position: absolute;
    top: 29.3%;
    left: 13.67%;
    width: 400px;
    height: 200px;
}

html {
    background-color: rgb(0, 33, 64);
}

#box {
    position: absolute;
    width: 17px;
    height: 34px;
    top: 12px;
    left: 12px;
    background-color: rgb(0, 33, 64);
}

#subtitle {
    font-family:'ApercuPro';
    font-size: 13pt;
    line-height: 18pt;
    letter-spacing: 1.25px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    top: 60px;
    width: auto;
}

span {
    color: rgb(219, 84, 97);
}

html:hover {
    cursor: default;
}
